/* init */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,button, input, textarea{
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline;
  box-sizing: border-box;
  font-weight: normal;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
::-webkit-scrollbar{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: #ccc;
}
input{
  appearance: none;
}

$primary : #1a82e1 !default;

@mixin imgInit($size){
	background-position: center;
	background-repeat: no-repeat;
	background-size: #{$size};
}

// 공통 타이포그래피
$font-family-default: 'Pretendard', sans-serif;
$font-family-special: 'Orbitron', sans-serif;

// Header
$h01-font-size: 44px;
$h01-line-height: 64px;
$h01-letter-spacing: -1px;

$h02-font-size: 32px;
$h02-line-height: 48px;
$h02-letter-spacing: -1px;

$h03-font-size: 24px;
$h03-line-height: 36px;
$h03-letter-spacing: -0.5px;

// Body Text
$body01-font-size: 20px;
$body01-line-height: 32px;
$body01-letter-spacing: -0.5px;

// Caption
$caption01-font-size: 16px;
$caption01-line-height: 24px;
$caption01-letter-spacing: -0.5px;

$caption02-font-size: 14px;
$caption02-line-height: 20px;
$caption02-letter-spacing: -0.5px;


// 공통 폰트 패밀리
$font-family-default: 'Pretendard', sans-serif;
$font-family-special: 'Orbitron', sans-serif;

// 타이포그래피
@mixin headerLogoBold {
  font-family: $font-family-default;
  font-weight: 700;
  font-size: 44px;
  line-height: 64px;
  letter-spacing: -1px;
}

@mixin headerNavBold {
  font-family: $font-family-default;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
}

@mixin headerNavRegular {
  font-family: $font-family-default;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
}

@mixin contentTitleBold {
  font-family: $font-family-default;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -1px;
}

@mixin contentSubtitleBold {
  font-family: $font-family-default;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.5px;
}

@mixin contentDescriptionRegular {
  font-family: $font-family-default;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.4px;
}

@mixin articleTitleBold {
  font-family: $font-family-default;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.5px;
}

@mixin articleSubtitleBold {
  font-family: $font-family-default;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.4px;
}

@mixin bodyTextRegular {
  font-family: $font-family-default;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.3px;
}

@mixin bodyTextBold {
  font-family: $font-family-default;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.3px;
}

@mixin iconTextRegular {
  font-family: $font-family-default;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.3px;
}
