@use 'common' as com;
@mixin disabled(){
       &:disabled{
        background: #ccc;
        color: #fff;
        cursor: not-allowed;
    }
}


.button{
    border: none;
    line-height: 6rem;
    height: 6rem;
    width: 280px;
    border-radius: 4rem;
    background: com.$primary;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
    @include disabled();
    &.button--large{
        font-size: 4rem;
        width: 80%;
        line-height: 12rem;
        border-radius: 6rem;
        height: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        &.button--sns{
            border-radius: 50%;
            width: 12rem;
            height: 12rem;
            overflow: hidden;
        }
    }
    
    &.button--sns{
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        overflow: hidden;
    }
    &.button--sharp{
        border-radius: 1rem;
    }
    &.button--pink{
        background: #ff73a5;
         @include disabled();
    }
    &.button--green{
        background: #7bcc6a;
         @include disabled();
    }
    &.button--dkblue{
        background: #003cff;
         @include disabled();
    }
    &.button--gradient{
        background: linear-gradient(to right, #bc00a9, #ea001c);
         @include disabled();
    }
}