$basic : #1a82e1;

.button{
    border: none;
    line-height: 60px;
    height: 60px;
    width: 280px;
    border-radius: 40px;
    background: $basic;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    font-size: 22px;
    color: #fff;
    &:disabled{
        background: #ccc;
        color: #fff;
    }
    &.button--large{
        font-size: 40px;
        width: 80%;
        line-height: 120px;
        border-radius: 60px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        &.button--sns{
            border-radius: 50%;
            width: 120px;
            height: 120px;
            overflow: hidden;
        }
    }
    
    &.button--sns{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        overflow: hidden;
    }
    &.button--sharp{
        border-radius: 10px;
    }
    &.button--pink{
        background: #ff73a5;
    }
    &.button--green{
        background: #7bcc6a;
    }
    &.button--dkblue{
        background: #003cff;
    }
    &.button--gradient{
        background: linear-gradient(to right, #bc00a9, #ea001c);
    }
}